:root {
    --base-text: 16px;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: beige;
    font-size: var(--base-text);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.container {
    background-color: aquamarine;
    height: 95vh;
    min-height: 800px;
    width: 90%;
    min-width: 900px;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 2fr 9fr;
}
.left {
    background-color: rgb(25, 146, 212);
    grid-column: 1 / span 1;
    grid-row: 1 / span 11;
    font-size: 1.2em;
    color: white;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 60px 30px repeat(11, 40px);
    align-items: center;
}
.odd {
    justify-self: center;
}
.even {
    justify-self: start;
}
.top {
    background-color: white;
    grid-column: 2;
    grid-row: span 1;
}
.central {
    background-color: rgb(226, 232.240);
}
ul {
    list-style: none;
}
.left img {
    height: 1.2em;
    filter: invert(100);
}
.left img.logo {
    filter: invert(0);
}
.logo {
    font-size: 1.4em;
}
.top {
    background-color: beige;
    font-size: 1.2em;
    padding-left: 5%;
    display: grid;
    grid-template-rows: 2fr 3fr;

}
.searchbar {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 1fr 1fr 3fr;
    align-items: center;
    justify-items: center;
}
.searchbar img {
    height: 1.2em;
}
.searchbar input {
    width: 90%;
    border-radius: 10px 10px 10px 10px;
}
img.portrait {
    height: 1.4em;
    padding: 10%;
    background-color: rgb(204, 204, 67);
    border-radius: 50%;
}
.navigation {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr 5fr;
    align-items: center;
}
img.selfimage {
    height: 2.5em;
    padding: 10%;
    background-color: rgb(204, 204, 67);
    border-radius: 50%;
}
.navigation span {
    font-size: 0.8rem;
}
.navigation p {
    font-size: 1.5rem;
    margin: 0;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    height: 50%;
}
button {
    margin: 0.8rem;
    padding: 0.2rem;
    background-color: rgb(25, 146, 212);
    color: white;
    font-weight: 900;
    border-radius: 1rem;
    border: none;
}
.central {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 10px;
}
.central .sectionlabel {
    margin: 10px 0;
}
.projects {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

}
.info {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.trend {
    grid-column-start: 2;
    grid-row-start: 2;
}

.mainsection {
    height: 70vh;
    min-height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3);
    gap: 1.5rem;
    background-color: lightgrey;

}
.description {
    border-left: 8px solid orange;
    display: grid;
    grid-template-rows: 0.5fr 4fr 0.5fr;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.description p {
    height: 1.1rem;
    font-size: 1rem;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.description span {
    font-size: 0.9rem;
    font-weight: 200;
    color: gray;
}

.foot {
    width: 100%;
    text-align: right;
}
.description .foot img {
    height: 1.3rem;
    margin-left: 10px;
}
.infosection {
    height: 75%;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3);
    gap: 1.5rem;
    padding: 15px;
    line-height: 0.8rem;
}
.infosection>div:not(:last-of-type) {
    border-bottom: 1px solid grey;
}
.infosection>div>p {
    font-size: 0.8rem;
    font-weight: 900;
    padding: 0;
    margin: 0;

}
.infosection>div>span {
    font-size: 0.8rem;
    font-weight: 200;
    color: gray;
}
.popularsection {
    height: 75%;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(4);
    padding: 15px;
    line-height: 1rem;
}
.popularsection>div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 0.9rem;
    font-weight: 100;
    align-items: center;
}
.popularsection img {
    height: 2rem;
}
.popularsection div>p {
    margin: 0;
    font-size: 1.1rem;
}
img.uno {
    background-color: lightcyan;
}
img.dos {
    background-color: orange;
}
img.tres {
    background-color: gray;
}
img.cuatro {
    background-color: plum;
}
